# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb

# Virtual environment
venv/
ENV/
env/
.venv/

# Django migrations
*/migrations/
*.sqlite3

# VS Code settings
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Pytest
.cache/
.pytest_cache/
